body{
    background-color: #2b2b2b;
}

.box-container{
    border: 3px pink solid;
}

.row-box{
    border: 3px rgb(13, 161, 30) solid;
    width: 100px;
    height: 55px;
}

.row-box:hover{
    background-color: purple;
}

.row-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
}

