body{
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container{
    border: 5px rgb(18, 18, 18) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    height: 50rem;
}

.row-box{
    border: 1px rgb(26, 26, 26) solid;
    width: 1000px;
    height: auto;
}

/*
.row-box:hover{
    background-color: purple;
}
*/

.row-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
    flex-grow: 1;
    align-self: stretch;
}

